name: edge_vision
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - scipy
  - matplotlib
  - jupyter
  - ipykernel
  # The magic line: This pulls the right PyTorch for Mac OR Linux/Windows
  - pytorch
  - torchvision
  - torchaudio
  - pip:
    - transformers
    - peft
    - accelerate
    - safetensors
    - pillow
